centerFlex()
    display flex
    justify-content center
    align-items center

columnTopFlex()
    display flex
    flex-direction column
    align-items center

columnCenterFlex()
    display flex
    flex-direction column
    align-items center
    justify-content center

twoColumnGrid()
    display grid
    grid-template-columns repeat(2, 1fr)
    grid-template-rows 1fr
    grid-column-gap 10px
    grid-row-gap 15px
    justify-content center
    align-items center
    width 100%