.pill {
    display: inline
    padding: 5px 10px
    border-radius: 50px
}

.pill--success {
    background: #4BB543
}

.pill--warn {
    background: rgb(233, 207, 58);
}

.pill--danger {
    background: rgb(233, 72, 72);
}

.pill--info {
    background: rgb(85, 192, 241);
}