color-primary = #21bbee;
color-secondary = #17243f;
color-tertiary = #1c2057;
color-quaternary = #16f7b4;
gradient = linear-gradient(to right, #16f7b4, #21bbee);
gradient-reverse = linear-gradient(to right, #21bbee, #16f7b4);
gradient-top = linear-gradient(to top, #16f7b4, #21bbee);
gradient-opacity = linear-gradient(to right, #16f7b465, #21bbee65);
blue-gradient = linear-gradient(to right, color-tertiary, color-secondary);
soft-shadow = rgba(100, 100, 111, 0.2) 0px 7px 15px 0px;